.menu {
  .item {
    cursor: pointer;
    transition: filter ease-in-out 0.6s;

    &:hover {
      filter: opacity(0.5);
    }

    &:active {
      box-shadow: inset 0 3px 5px rgba(255,255,255,0.525);
    }
  }
}

.alert {
  border: solid 1px red;
  border-radius: 3px;
  background-color: rgba(255,0,0,0.1);
  margin: 5px;
  padding: 1px 0 1px 4px;
}

.cards-container{
  display: flex;
  position: absolute;
  bottom: 5px;
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background-color: rgba(0,0,255,0.7);
    border-radius: 4px;
    margin: 0 5px;
    height: 100px;
    width: 75px;
    transition: all ease-in-out 0.2s; 
    cursor: pointer;
    

    &:hover:not(.active) {
      transform: translateY(-5%)
    }

    &.active {
      transform: translateY(-10%)
    }
  }
}

